<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>舆情统计分析</title>
    <!-- 引入 echarts.js -->
    <!-- 这里是加载刚下好的echarts.min.js，注意路径 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
</head>
<body>
    <p style="margin: 10px 100px">采集信息统计汇总
    <div id="cjmc" style="width: 1000px;height: 600px; margin: auto"></div>
    <br>
    <p style="margin: 10px 100px">15天内数据统计
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:600px; margin: 0 auto"></div>
    <br>
    <div id="detail" style="width: 1000px;height: 600px;margin: 0 200px"></div>
    <br>
    <div id="trs" style="width: 1000px;height: 600px; margin: auto"></div>
    <br>


<script type="text/javascript">
         require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line',  // 这里加载什么类型图时候就写什么，具体参考echatrs API
                'echarts/chart/bar',
            ],
            load
        )

        //绘制图表
        function load(ec){
            //调用
            main(ec);
            detail(ec);
            trs(ec);
            cjlb(ec);
        }

        function cjlb(ec){
            //初始化echarts实例
            var mychart = ec.init(document.getElementById('cjmc'));
            //option
                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#FFF'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: {{ cjmc|safe }},
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: 'total',
                            min: 0,
                            max: 1000000,
                            interval: 500000,
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        {
                            type: 'value',
                            name: 'incre',
                            min: 0,
                            max: 5000,
                            interval: 500,
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            name:'总量',
                            type:'bar',
                            data:{{ ttlist|safe }}
                        },
                        {
                            name:'昨日增量',
                            type:'line',
                            yAxisIndex: 1,
                            data:{{ inlist|safe }}
                        }
                    ]
                };

           //使用制定的配置项和数据显示图表
            mychart.setOption(option);
        }

</script>

</body>
</html>
